#!/bin/bash
MY_IP=$(hostname -I | awk '{print $1}')

# Get the IP address of the Vault leader
LEADER_IP=$(VAULT_TOKEN={{ backup_vault_root_token }} vault operator raft list-peers --address={{ backup_vault_address }} | awk '$3 == "leader" {print $2}' | cut -d':' -f1)

# Check if the current node is the leader
if [ "$MY_IP" == "$LEADER_IP" ]; then
    # Run the Vault snapshot backup command
    VAULT_TOKEN="{{ backup_vault_token }}" vault operator raft snapshot save -address="http://$MY_IP:8200" "{{ backup_base_path }}/vault_backup_$(date +'%d_%m_%Y').snap"
else
    echo "Current node is not the leader. Skipping snapshot backup."
fi
rclone copy {{ backup_base_path }}/vault_backup_$(date +'%d_%m_%Y').snap r2:test-vault




